/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Slider
4. About
5. Rooms
6. Services
7. Team
8. Gallery
9. Price
10. Blog
11. Footer
------------------ */

/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}